<p id="notice"><%= notice %></p>

<h1>Listing beers</h1>

<table>
  <thead>
    <tr>
      <th>Brewery</th>
      <th>Location</th>
      <th>Beer</th>
      <th>Style</th>
      <th>Year</th>
      <th>#</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.brewery %></td>
        <td><%= beer.location %></td>
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.style %></td>
        <td><%= beer.year %></td>
        <td><%= beer.quantity %></td>
        <td><%= beer.notes %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Del', beer, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag('beers/new', method: 'get') do %>
  <%= text_field_tag 'q' %>
  <%= submit_tag 'Find Beer' %>
<% end %>
