<h1>Listing beers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Brewery</th>
      <th>Location</th>
      <th>Beer</th>
      <th>Style</th>
      <th>Year</th>
      <th>Qty</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to 'X', beer, method: :delete %></td>
        <td><%= beer.brewery %></td>
        <td><%= beer.location %></td>
        <td><%= link_to beer.name, edit_beer_path(beer) %></td>
        <td><%= beer.style %></td>
        <td><%= beer.year %></td>
        <td style="text-align: right;"><%= beer.quantity %></td>
        <td><%= beer.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag('beers/new', method: 'get') do %>
  <%= text_field_tag 'q' %>
  <%= submit_tag 'Find Beer' %>
<% end %>
<p>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Account',  edit_user_registration_path %>
</p>
