<h1>New beer</h1>

<form>
<p>lookup: <input type="text" name="q"/> <input type="submit" value="lookup"/></p>
</form>

<% if params['q'] %>
  <p>year, quantity</p>
<% @options = lookup(params['q'])
  @options.each do |opt| %>
    <%= form_for(@beer) do |f| %>
      <%= f.hidden_field :brewery, value: opt[:brewery] %>
      <%= f.hidden_field :location, value: opt[:location] %>
      <%= f.hidden_field :name, value: opt[:name] %>
      <%= f.hidden_field :style, value: opt[:style] %>
      <%= f.hidden_field :untappd, value: opt[:id] %>
      <%= f.text_field :year, size: 5 %>
      <%= f.text_field :quantity, size: 3 %>
      <input type="submit" value="<%= opt[:name] %>"/>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', beers_path %>
